
.navbar{
    display:flex;
    padding: 15px;
    color:white;
    background: var(--primary);
    justify-content: center;
    align-items: center;

    @media(min-width:720px){
        margin: 60px;
    
    }
    margin: 0 5px ;
    margin-bottom: -0px;
    border-radius: 10px;

    ul{
        display: flex;
        margin: 0;
        li{
            display: flex;
            align-items: center;


            a{
                display:inline-block;
                padding: 5px 5px;
                color:  var(--primary-overlay); 
                text-decoration:none;
                background: var(--primary);
                font-size: 20px;
                &:hover{
                    
                    color: var(--primary-overlay);
                }
            }

            .navbar-button{
                margin:0;
                margin-left: 10px;
                padding:0;
                height: 100%;
                border: 1px solid white;
                &:hover{
                    border: 1px solid #ddd;
                    cursor:pointer;
                }
            }
            
        }
    }
}